
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - CV_URL=cv.pdf
    ports:
      - "8080:80"
    volumes:
      - ./data.json:/data.json
    develop:
      watch:
        - action: rebuild
          path: ./src
          target: /app
