/* Preloader styles */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 50;
}

.dark .preloader {
  background-color: #1a202c; /* Dark mode background color */
}

.preloader img {
  transition: all 0.5s ease-in-out;
}

.preloader .spinner {
  margin-top: 20px; /* Adjust the spacing as needed */
}

pre {
  border-radius: 0.75rem !important;
  padding: 1.5rem !important;
  margin: 2rem 0 !important;
  overflow-x: auto !important;
}

code {
  font-family: 'Fira Code', monospace !important;
  font-size: 0.9rem !important;
  line-height: 1.6 !important;
}

.dark pre {
  background: rgba(42, 49, 66, 0.616);
}

a {
  color: hsl(var(--primary));
  text-decoration: none;
}

.markdown h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown h2 {
  font-size: 2rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown h4 {
  font-size: 1.25rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown h5 {
  font-size: 1rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown h6 {
  font-size: 0.875rem;
  margin-top: 2rem;
  color: hsl(var(--primary));
}

.markdown p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.markdown ul {
  margin-top: 1rem;
  margin-left: 2rem;
}

.markdown ol {
  margin-top: 1rem;
  margin-left: 2rem;
}

.markdown li {
  font-size: 1rem;
  line-height: 1.5;
}

.markdown a {
  color: hsl(var(--primary));
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.markdown strong {
  font-weight: 700;
}

.markdown em {
  opacity: 0.75;
  background: rgba(42, 49, 66, 0.377);
  border-radius: 0.20rem;
  padding: 0.20rem;
}

.markdown code {
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  line-height: 1.5;
  background: rgba(42, 49, 66, 0.377);
  color: hsl(var(--primary));
  border: 1px solid hsl(var(--primary));
  opacity: 0.75;
  border-radius: 0.20rem;
  padding: 0.20rem;
}

.markdown pre code {
  border: none;
  background: none;
  color: inherit;
}


.markdown blockquote {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-left: 2rem;
  border-left: 4px solid hsl(var(--primary));
  padding-left: 1rem;
}

.markdown pre {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  padding: 1rem;
  background: rgba(42, 49, 66, 0.377);
  border-radius: 0.75rem;
}

.copy-button {
  color: white;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 1rem;
}

.markdown img {
  max-width: 100%;
  border-radius: 0.75rem;
}

.page-enter-active .page-exit-done {
  position: static !important;
}

.page {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(1.05);
}

.page-enter {
  position: relative !important;
  display: contents;
  transform: scale(1.05);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 50ms;
}


/* animations */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes twinkle {
  0%, 100% { 
    opacity: 0.5; 
    transform: scale(1);
    filter: brightness(1);
    color: cadetblue;
  }
  50% { 
    opacity: 1; 
    transform: scale(1.2); 
    filter: brightness(1.5);
  }
}

.animate-twinkle {
  animation: twinkle 2s ease-in-out infinite;
}